// footer
footer.footer
	.wrapper
		a(href="#").footer_agreement Пользовательское соглашение
		.footer_right
			.footer_studio Разработано в 
				a(href="#") XYstudio
			.footer_copy &copy; 2019
// /footer