// header
header.header#header
	a(href="index.html").header_logo
		img(src="img/logo.svg", alt="logo")
	button#menu-btn.menu_btn.hamburger.hamburger--vortex(type="button")
		span.hamburger-box
			span.hamburger-inner

// menu
//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
#menu.menu.menu--left
	nav#mmenu.menu_nav
		ul.menu_list
			li.menu_item
				a(href="#").menu_link Каталог проектов
			li.menu_item
				a(href="#").menu_link Преимущества ЛСТК 
			li.menu_item
				a(href="#").menu_link Портфолио 
			li.menu_item
				a(href="#").menu_link Технологии 
			li.menu_item
				a(href="#").menu_link О компании 
			li.menu_item
				a(href="#").menu_link Производство 
		.menu-location
			a(href="#").menu-location_phone 8 (800) 500 44-44  
			a(href="#").menu-location_mail info@1lstk.ru  
			.menu-location_address г. Краснодар ул 1 мая д.55 офис 34
		.menu-social
			a(href="#").menu-social_icon.icon-vk
			a(href="#").menu-social_icon.icon-facebook
			a(href="#").menu-social_icon.icon-youtube
	.menu_block
		.menu_content
			.menu_title Быстровозводимое  строительство  
				span.menu_title-white домов и зданий 
				span.menu_title-span из ЛСТК
			.menu_logo
				img(src="img/logo-menu.svg", alt="logo")
// /menu

// /header