// modal-catalog
.modal-catalog#modal-catalog-1.modal
	.modal-catalog_body
		.modal-catalog_content
			.modal-catalog_title Автосервис
				span S общая 263 м2
			.modal-catalog_subtitle Описание объекта
			.modal-catalog_text Элементы каркаса изготовлены из оцинкованных холодногнутых профилей в соответствии с ТУ. Класс цинкового покрытия оцинкованных элементов – I (не менее 275 г/м2) Все профили промаркированы, имеют пуклевку и отверстия под крепеж, производимые в заводских условиях на автоматической линии, что повышает точность и скорость сборки.
			.modal-catalog_slider.mobile-visible
				.slider-modal-catalog_controll.slider-modal-catalog_controll--prev
					.icon-keyboard_arrow_left
				.slider-modal-catalog_controll.slider-modal-catalog_controll--next
					.icon-keyboard_arrow_right
				.slider-modal-catalog
					.slider-modal-catalog_slide
						.slider-modal-catalog_img
							img(src="img/catalog/catalog-1.jpg", alt="image")
					.slider-modal-catalog_slide
						.slider-modal-catalog_img
							img(src="img/catalog/catalog-1.jpg", alt="image")
			.modal-catalog_subtitle Стоимость материалов и работ
			.modal-catalog_text Комплект каркаса ЛСТК на готовое перекрытие пола 1 этажа
			.modal-catalog_kits
				.modal-catalog_kit
					.modal-catalog_subtitle-b Состав комплекта каркаса:
					ul.modal-catalog_list
						li.modal-catalog_item Стеновые панели 
						li.modal-catalog_item Конструкции кровли 
						li.modal-catalog_item Комплект крепежных элементов для сборки 
						li.modal-catalog_item Комплект сборочных  чертежей 
						li.modal-catalog_item Технологическая карта  на сборку и монтаж
					.modal-catalog_price * Доставка по всей РФ Бесплатно
						span 684 500 руб.
					button.modal-catalog_btn.mobile-visible заказать смету каркаса
				.modal-catalog_kit
					.modal-catalog_subtitle-b Проект под ключ:
					ul.modal-catalog_list
						li.modal-catalog_item Стеновые панели 
						li.modal-catalog_item Конструкции кровли 
						li.modal-catalog_item Комплект крепежных элементов для сборки 
						li.modal-catalog_item Комплект сборочных  чертежей 
						li.modal-catalog_item Технологическая карта  на сборку и монтаж
					.modal-catalog_price * Базовый комплект
						span от 1 684 500 руб.
					button.modal-catalog_btn.mobile-visible заказать смету  <br>проекта под ключ
		.modal-catalog_interactive.mobile-hide
			.modal-catalog_slider
				.slider-modal-catalog_controll.slider-modal-catalog_controll--prev
					.icon-keyboard_arrow_left
				.slider-modal-catalog_controll.slider-modal-catalog_controll--next
					.icon-keyboard_arrow_right
				.slider-modal-catalog
					.slider-modal-catalog_slide
						.slider-modal-catalog_img
							img(src="img/catalog/catalog-1.jpg", alt="image")
					.slider-modal-catalog_slide
						.slider-modal-catalog_img
							img(src="img/catalog/catalog-1.jpg", alt="image")
			.modal-catalog_form
				button.modal-catalog_btn заказать смету каркаса
				button.modal-catalog_btn заказать смету  <br>проекта под ключ
		.modal-catalog_close.modal_close
.modal-catalog_over.modal_over
// /modal-catalog

// modal-order
.modal.modal-order#modal-order
	.modal-order_body
		.modal_content.modal-order_content
			form(action="#").modal-order_form
				input(type="text", name="name" placeholder="Имя").modal-order_input
				input(type="text", name="tel" placeholder="Телефон").modal-order_input
				input(type="text", name="city" placeholder="Город").modal-order_input
				button.modal-order_btn Отправить
				.modal-order_consent
					input#consent(type="checkbox", name="checkbox").modal-order_checkbox
					label(for="consent").modal-order_label Согласие на обработку персональных данных
		.modal-order_description
			.modal-order_text Просто заполните форму и мы  с вами свяжемся  в течение 10 мин,  что бы обсудить детали
			.modal-order_logo
				img(src="img/logo.svg", alt="logo")
	.modal_close.modal-order_close
.modal-catalog_over.modal_over
// /modal-order

// modal-news
.modal.modal-story#modal-news-1
	.modal-story_body
		.modal_content.modal-story_content
			.modal-story_title Мы покорили очередную  вершину! 
			.modal-story_text Этим летом нашей компанией в лице технического руководителя была покорена самая высокая точка России и Европы.
			.modal-story_text Эльбрус является спящим стратовулканом высотой 5 642 метра.
		.modal-story_img
			img(src="img/news-2.jpg", alt="image")
	.modal_close.modal-story_close
.modal-catalog_over.modal_over
// /modal-news

// modal-expert
.modal.modal-story#modal-expert-1
	.modal-story_body
		.modal_content.modal-story_content
			.modal-story_title-big Роман  Дмитриев 
			.modal-story_title Главный инженер
			ul.modal-story_list
				li.modal-story_item строитель с 12–летним стажем
				li.modal-story_item 8 лет в каркасном строительстве
				li.modal-story_item участник олимпийской стройки СОЧИ-2014
				li.modal-story_item эксперт в области легких стальных тонкостенных конструкций
				li.modal-story_item даст ответы на самые сложные вопросы касательно вашего объекта
		.modal-story_img
			img(src="img/expert-2.jpg", alt="image")
	.modal_close.modal-story_close
.modal-catalog_over.modal_over
// /modal-expert

// modal-portfolio
.modal.modal-portfolio#modal-portfolio-1
	.modal-portfolio_body
		.modal-portfolio_content
			.modal-portfolio_title Административно-бытовой  комплекс
			.modal-portfolio_city г. Сургут 
			.modal-portfolio_area S 216м2 в г. Сургут
			.modal-portfolio_text Выполненные работы: проектирование, изготовление каркаса.
			.modal-portfolio_text Сборка осуществлялась самостоятельно силами заказчика.
			.modal-portfolio_links.mobile-hide
				a(href="#").modal-portfolio_link Теплица 105 м2 в г. Краснодар. 
				a(href="#").modal-portfolio_link Торговые павильоны  в г. Новороссийске 
		.modal-portfolio_slider
			.slider-modal-portfolio_controll.slider-modal-portfolio_controll--prev
				.icon-keyboard_arrow_left
			.slider-modal-portfolio_controll.slider-modal-portfolio_controll--next
				.icon-keyboard_arrow_right
			.slider-modal-portfolio
				.slider-modal-portfolio_slide
					.slider-modal-portfolio_img
						img(src="img/portfolio/portfolio-1.jpg", alt="image")
				.slider-modal-portfolio_slide
					.slider-modal-portfolio_img
						img(src="img/portfolio/portfolio-1.jpg", alt="image")
		.modal-portfolio_links.mobile-visible
			a(href="#").modal-portfolio_link Теплица 105 м2 в г. Краснодар. 
			a(href="#").modal-portfolio_link Торговые павильоны  в г. Новороссийске 
	.modal_close.modal-portfolio_close
.modal_over
// /modal-portfolio