extends blocks/base.jade

block title 
	title Главная

block content

		include blocks/header.jade
		
		// first-screen
		section.first-screen
			.wrapper
				.first-screen_location.mobile-hide
					a(href="tel:+78002225812").first-screen_phone 8 800 222-58-12 
					.first-screen_address г. Краснодар, ул. Клубная, 12а, офис 233/2
			.slider-first
				.slider-first_slide
					.wrapper
						.slider-first_content
							h1.slider-first_title Быстровозводимое строительство 
								span домов и зданий 
								| из ЛСТК 
								span  в Краснодарском крае
							.slider-first_price
								.slider-first_val 1600 
								.slider-first_currency руб/м2 
									span цена
							.slider-first_time срок 7-45 дней
							a(href="#").slider-first_btn.button заказать консультацию
				.slider-first_slide
					.wrapper
						.slider-first_content
							h1.slider-first_title Быстровозводимое строительство 
								span домов и зданий 
								| из ЛСТК 
								span  в Краснодарском крае
							.slider-first_price
								.slider-first_val 1600 
								.slider-first_currency руб/м2 
									span цена
							.slider-first_time срок 7-45 дней
							a(href="#").slider-first_btn.button заказать консультацию
				.slider-first_slide
					.wrapper
						.slider-first_content
							h1.slider-first_title Быстровозводимое строительство 
								span домов и зданий 
								| из ЛСТК 
								span  в Краснодарском крае
							.slider-first_price
								.slider-first_val 1600 
								.slider-first_currency руб/м2 
									span цена
							.slider-first_time срок 7-45 дней
							a(href="#").slider-first_btn.button заказать консультацию
			.first-screen_dots
		// /first-screen

		// catalog
		section.catalog
			.wrapper
				h2.catalog_title Каталог готовых проектов
				.catalog_tabs.tabs
					.catalog_list
						ul.catalog_trigger.tabs_trigger
							li.catalog_item.tabs_item.active Частные дома  
							li.catalog_item.tabs_item Склады  
							li.catalog_item.tabs_item Автомойки  
							li.catalog_item.tabs_item Автосалоны  
							li.catalog_item.tabs_item Офисные здания  
							li.catalog_item.tabs_item СТО / Шиномонтаж  
							li.catalog_item.tabs_item Магазины / Павильоны
					.catalog_content.tabs_content
						.catalog_block.tabs_block
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-0
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-1
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2 
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 2
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-2
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 3
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-3
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 4
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-4
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 5
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-5
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 6
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
						.catalog_block.tabs_block.hide
							.catalog_controll.catalog_controll--prev
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_controll.catalog_controll--next
								img(src="img/slider-control-mob.svg", alt="icon")
							.catalog_row.slider-catalog#slider-catalog-6
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
								.catalog_col
									.project-card
										.project-card_img
											img(src="img/project-img-1.jpg", alt="image")
										.project-card_content
											.project-card_title Торговый  павильон 7
											.project-card_text
												img(src="img/area.svg", alt="icon").project-card_icon
												span S общая 263 м2
											.project-card_text
												img(src="img/calendar.svg", alt="icon").project-card_icon
												span Изготовление: 45-50 дней
											.project-card_price цена от: 
												span 684 000 
												| руб.
										a(href="#").project-card_btn.button Подробнее
				a(href="#").catalog_all Посмотреть все
				.catalog-prize
					img(src="img/3d.svg", alt="icon").catalog-prize_icon
					.catalog-prize_title В ПОДАРОК
					.catalog-prize_text Для вас мы сделаем индивидуальный  3D Проект, чтобы вы смогли увидеть  свое будущее здание и на картинке
		// /catalog

		// individual
		section.individual
			.wrapper
				h2.individual_title Индивидуальные проекты  
				p.individual_text Специалисты нашей компании могут не только предложить готовый типовой проект, но и разработать индивидуальный ЛСТК-проект с учетом ваших пожеланий и возможностей.
				.individual_item
					img(src="img/ruler.svg", alt="icon").individual_icon
					span Сроки разработки индивидуального  ЛСТК-проекта от 3 дней.
				a(href="#").individual_btn.button Оставить заявку
				.individual_play.icon-play2
		// /individual

		// adventages
		secton.adventages
			.wrapper
				h2.adventages_title 
					span Положительные 
					| аспекты  быстровозводимых конструкций
				.adventages_tabs.tabs
					.adventages_list
						ul.adventages_trigger.tabs_trigger
							li.adventages_item.tabs_item.active Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
							li.adventages_item.tabs_item Скорость строительства  
					.adventages_content.tabs_content
						.adventages_block.tabs_block
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 1
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 2
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 3
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 4
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 5
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 6
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
						.adventages_block.tabs_block.hide
							.adventages_subblock
								.adventages_block-text
									.adventages_subitem Скорость строительства 7
									.adventages_subtext Самым главным преимуществом данной технологии является необыкновенная скорость создания проекта  и воплощения его в жизнь. Высокая скорость сборки проекта обусловлена использованием легких конструкций из прочной стали. Четверо строителей вполне осилят задачу возведения дома на 100 м2, и времени они потратят, ни много, ни мало, 14 рабочих дней. 
							.adventages_img
								img(src="img/adventages-speed.jpg", alt="image")
		// /adventages

		// callback
		section.callback
			.wrapper
				h2.callback_title Профессиональные 
					span специалисты компании «Директ ЛТСК» 
					| помогут вам!
				form(action="#").callback_form
					input(type="text", name="tel" placeholder="Телефон").callback_input
					input(type="text", name="name" placeholder="Имя").callback_input
					a(href="#").callback_btn.button Заказать звонок
		// /callback

		// portfolio
		section.portfolio
			h2.portfolio_title Наши работы
			.portfolio_slider
				.slider-portfolio_controll.slider-portfolio_controll--prev
					.icon-keyboard_arrow_left.mobile-hide
					img(src="img/slider-control-mob.svg" alt="icon").mobile-visible
				.slider-portfolio_controll.slider-portfolio_controll--next
					.icon-keyboard_arrow_right.mobile-hide
					img(src="img/slider-control-mob.svg" alt="icon").mobile-visible
				.slider-portfolio
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-1.jpg", alt="image")
							.slider-portfolio_text Цех стеклопластики на судоремонтном  заводе в г. Темрюк 
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-2.jpg", alt="image")
							.slider-portfolio_text Торговые павильоны в г. Новороссийске
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-3.jpg", alt="image")
							.slider-portfolio_text Теплица 105м2 в г. Краснодар.  
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-1.jpg", alt="image")
							.slider-portfolio_text Цех стеклопластики на судоремонтном  заводе в г. Темрюк 
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-2.jpg", alt="image")
							.slider-portfolio_text Торговые павильоны в г. Новороссийске
					.slider-portfolio_slide
						.slider-portfolio_block
							.slider-portfolio_img
								img(src="img/portfolio-3.jpg", alt="image")
							.slider-portfolio_text Теплица 105м2 в г. Краснодар.
		// /portfolio

		// clients
		section.clients
			.wrapper
				h2.clients_title  Компании которые нам доверяют
				.clients_row
					.clients_col
						.clients_img
							img(src="img/client-1.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-2.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-3.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-4.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-5.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-6.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-7.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-8.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-9.jpg", alt="image")
					.clients_col
						.clients_img
							img(src="img/client-10.jpg", alt="image")
		// /clients

		// technologies
		section.technologies
			.wrapper
				h2.technologies_title применяемые 
					span Технологии  в ЛСТК 
					| строительстве
				.technologies_tabs.tabs
					.technologies_list
						ul.technologies_trigger.tabs_trigger
							li.technologies_item.active Узлы и соединения
							li.technologies_item Конструктивные элементы
							li.technologies_item Технология профилирования
							li.technologies_item Технология производства
							li.technologies_item Фундамент
							li.technologies_item Стены
							li.technologies_item Перекрытия
							li.technologies_item Кровля
							li.technologies_item Продукция и комплектующие
					.technologies_content.tabs_content
						div.technologies_block.tabs_block
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Узлы и соединения
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Конструктивные элементы
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Технология профилирования
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Технология производства
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Фундамент
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Стены
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Перекрытия
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Кровля
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
						div.technologies_block.tabs_block.hide
							.technologies_subcontent
								.technologies_description
									.technologies_subtitle Продукция и комплектующие
									.technologies_text Полная автоматизация производства позволяет добиться высокого качества выпускаемой продукции и создавать каркасы зданий с точностью до ±1 мм на 10 метров стены. Это стало возможным благодаря применению надежной связки - программное обеспечение + производственная линия. Элементы конструкции производится по 3D чертежам загружаемым прямо в память станка.
								.technologies_description-b
									.technologies_subtitle-b Т-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Угловое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b V-образное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Крестовое
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
								.technologies_description-b.hide
									.technologies_subtitle-b Раскосное
									.technologies_text-b Т-образное соединение чаще всего встречается в стеновых панелях. Стоечный профиль 2 имеет поджимку в месте крепления к направляющему профилю 1. Пуклевка также придает жесткость узлу.
							.technologies_tabs-b
								.technologies_list-b 
									span Выбрать тип:
									ul.technologies_triger-b
										li.technologies_item-b.active Т-образное
										li.technologies_item-b Угловое
										li.technologies_item-b V-образное
										li.technologies_item-b Крестовое
										li.technologies_item-b Раскосное 
								.technologies_img
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
								.technologies_img.hide
									img(src="img/connect-t.jpg", alt="image")
		// /technologies

		// about-company
		section.about-company
			.wrapper
				h2.about-company_title О компании  
				.about-company_content
					.about-company_text 
						p Компания «Директ ЛСТК», основанная более 10 лет назад  в Краснодаре, представляет покупателям по-своему революционную технологию возведения зданий  и сооружений.  
						p Используя стальные профили, изготавливаемые на нашем производстве в соответствии с самыми строгими требованиями, можно сооружать жилые и коммерческие объекты. Так, нашими заказчиками являются застройщики торговых центров и домов малой этажности, гостиниц  и коттеджей. 
					.about-company_news
						.about-company_col
							.about-company_img
								img(src="img/news-1.jpg", alt="image")
							.about-company_date 30 апреля
							.about-company_subtitle Что выбрать: ЛСТК или СИП технологию при строительстве? 
							a(href="#").about-company_link Подробнее
						.about-company_col
							.about-company_img
								img(src="img/news-2.jpg", alt="image")
							.about-company_date 28 октября
							.about-company_subtitle Мы покорили очередную вершину! 
							a(href="#").about-company_link Подробнее
		// /about-company

		// trust
		section.trust
			.wrapper
				h2.trust_title Почему нам  доверяют
				ul.trust_list
					li.trust_item.trust_item--1 10 лет 
						span.trust_span на рынке
						span.trust_circle
					li.trust_item.trust_item--2 125 обьектов 
						span.trust_span возведено
						span.trust_circle
					li.trust_item.trust_item--3 25 сотрудников 
						span.trust_span компании
						span.trust_circle
					li.trust_item.trust_item--4 3 000 000 тонн 
						span.trust_span металлоконструкций произведено
						span.trust_circle
					li.trust_item.trust_item--5 20 000 000 м2 
						span.trust_span площадей построено
						span.trust_circle
					li.trust_item.trust_item--6 100% гарантия  
						span.trust_span на все работы
						span.trust_circle
		// /trust

		include blocks/footer.jade

block js
	script(src="js/jquery-3.2.1.min.js")
	//- script(src="js/jquery.fancybox.min.js")
	script(src="js/slick.min.js")
	//- script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.bundle.min.js")
	//- script(src="js/jquery.tinyscrollbar.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	script(src="js/script.js")